
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="slide">
        <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <a href="urunsayfasi_islemci.aspx?secim=2"><img src="~/images/slider1.jpg" alt="" /></a>
                <a href="urunsayfasi.aspx?secim=17"><img src="~/images/slider2.jpg" alt="" title="" /></a>
                <a href="urunsayfasi_ekrankartlari.aspx?secim=3"><img src="~/images/slider4.jpg" alt="" title="" /></a>
            </div>
        </div>
    </div>






